### HELP.md ###
/target/
!.mvn/wrapper/maven-wrapper.jar

# maven ignore
target/
*.jar
*.war
*.zip
*.tar
*.tar.gz

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

### temp ignore ###
*.log
*.cache
*.diff
*.patch
*.tmp

### system ignore ###
.DS_Store
Thumbs.db
/bin/
